<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <p><img src="/public/images/dolphin.jpg"></p>
    <p>Highly intelligent marine mammals known for their playful behavior.</p>
    <p>Use echolocation to hunt and navigate underwater.</p>
    <p>Live in social groups called pods, often displaying teamwork and cooperation.</p>
    <p>Can recognize themselves in mirrors—a sign of self-awareness.</p>
    <p>Communicate using clicks, whistles, and body movements.</p>
    <p>Breathe through a blowhole located on top of their heads.</p>
    <p>Known to help injured pod members and sometimes even humans in distress.</p>
    <p>Some species can swim up to 25 miles per hour.</p>
<%- include('../partials/footer') %>
	