<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <p><img src="/public/images/horse.jpg"></p>
    <p>Domesticated over 5,000 years ago and used for transport, farming, and companionship.</p>
    <p>Can sleep both lying down and standing up.</p>
    <p>Have excellent memories and can recognize human emotions.</p>
    <p>A horse's age can be estimated by its teeth.</p>
    <p>Their hooves are made of keratin, the same material as human fingernails.</p>
    <p>Average speed is about 30 mph, but racehorses can sprint faster.</p>
    <p>Social animals that thrive in herds and form strong bonds.</p>
    <p>Communicate through body language, vocalizations, and even facial expressions.</p>
<%- include('../partials/footer') %>
	

